body {
    background-color: #F8C9D3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.Logo {
    display: flex;
}

img {
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: flex-start;
}

.Title {
    font-family: 'Pacifico', cursive;
    color: #ED2101;
    font-size: 40px;
    display: flex;
    justify-content: left;
    
}

.Title:hover {
    color: #ED2101;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 0),
        0 0 92px rgb(255, 0, 0),
        0 0 90px rgb(255, 0, 0),
        0 0 120px rgb(255, 0, 0);
}